<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/my_schema</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">danildanil</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>

        <property name="hibernate.ejb.event.pre-insert">my.hibernate.events.listeners.Listener</property>
        <property name="hibernate.ejb.event.pre-update">my.hibernate.events.listeners.Listener</property>
        <property name="hibernate.ejb.event.pre-delete">my.hibernate.events.listeners.Listener</property>
        <property name="hibernate.ejb.event.post-insert">my.hibernate.events.listeners.Listener</property>
        <property name="hibernate.ejb.event.post-update">my.hibernate.events.listeners.Listener</property>
        <property name="hibernate.ejb.event.post-delete">my.hibernate.events.listeners.Listener</property>

        <mapping class="com.seriouscompany.testsystem.server.entities.User" />
        <mapping class="com.seriouscompany.testsystem.server.entities.Test" />
        <mapping class="com.seriouscompany.testsystem.server.entities.Answer" />
        <mapping class="com.seriouscompany.testsystem.server.entities.Question" />
    </session-factory>
</hibernate-configuration>